#container {
	padding: 10px;
}

body {
	font-family: Arial,Helvatica,sans-serif;
}

a, a:visited {
	color: black;	
}

a:hover {
	color: red;
}

ul {
	padding: 0px;
	background-color: inherit;
}

li {
	list-style: none;
	background-color: inherit;
}

#content input[type=text]{
	width: 100%;
}

li p {
	display: inline;
}

#menu li {
	display: inline;
}

.expandable-div-button {
	display: block;
}

li .expandable-div-button {
	display: inline;
}

li .expandable-div-button p {
	display: inline;
}

li .expandable-div-button + div {
	display: inline;
}

.lists, .tasks, .items {
	width: 600px;
}

.lists li, .tasks li, .items li{
	margin: 5px;
	position: relative;
}

.lists li {
	margin-left: 22px;
}

li .expandable-div-button {
	position: relative;
	float: right;
	margin: 0px 5px;
}

li .expandable-div {
	position: absolute;
	right: 0px;
	margin-top: 25px;
	padding: 10px;
	background-color: grey;
	z-index: 10;
	box-shadow: 0px 5px 10px #555;
	border: 1px solid #333;
}

#simplemodal-overlay {background-color:#000; cursor:wait;}

.modal {
	border-radius: 5px;
	padding: 10px;
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, .2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .2) 75%, transparent 75%, transparent);

background-size: 30px 30px;
background-color: rgba(255, 255, 0, .5);

}

.modal-content {
	border-radius: 5px;
	padding: 10px;
	background-color: white;
}

.view {
	background-color: #ddffee;
	margin: 10px;
	padding: 10px;
	border: 4px solid #aaccbb;
	border-radius: 10px;
	float: left;
}

.view h2 {
	margin-top: 0px;
}	


.cake-sql-log {
	float: left;
	margin-top: 200px;
}

.column {
	float: left;
	width: 50%;
}	

.tags, .contexts {
	display: inline;
	font-size: 11px;
}

.tags li, .contexts li{
	display: inline;	
	margin: 2px;
}

.tags a, .contexts a{	
	text-decoration: none;
}

.tags a{
	color: blue;
}

.contexts a{
	color: red;
}

.tags a:hover, .contexts a:hover {
	text-decoration: underline;
}

#error {
	background-color: white;
}
