#container {
	padding: 10px;
}

body {
	font-family: Arial,Helvatica,sans-serif;
}

a, a:visited {
	color: black;	
}

.element {
	cursor:default;
	padding: 1px;
}



a:hover {
	color: red;
}

.settings-button {
	display: none;
}

div.element:hover .settings-button {
	display: block;
}


.ui-draggable-dragging.ui-draggable.element .settings-button { 
                                                               display: none;
 }

div.element:hover, .ui-state-active .element {
	background-color: #aaffaa;
	border: 1px solid #88bb88;
	padding: 0px;
}

div.ui-draggable-dragging.element:hover { 
                                          background: transparent;
border: none;
padding: 1px;
                                          }

ul {
	padding: 0px;
	background-color: inherit;
}

li {
	list-style: none;
	background-color: inherit;
}


li p {
	display: inline;
}

#menu li {
	display: inline;
}

.edit label {
	display: inline-block;
	width: 20%;
}

.edit p {
	display: block;
}

.edit input, .edit textarea {
	width: 70%;
}

.infobox {
	display: none;
}

li .expandable-div-button p {
	display: inline;
}

li .expandable-div-button + div {
	display: inline;
}

.item { 
        text-transform:capitalize;
}

.actions { 
           margin-right: 3px;
 }

.lists, .tasks, .items {
	width: 600px;
}

.lists li, .tasks li, .items li{
	margin: 5px;
	position: relative;
}


li .expandable-div-button {
	position: absolute;
        top: 0px;
        right: 0px;
	margin: 0px 5px;
}

li .expandable-div {
	position: absolute;
	right: 0px;
        top: 20px;
	padding: 10px;
	background-color: grey;
	z-index: 10;
	box-shadow: 0px 5px 10px #555;
	border: 1px solid #333;
}

#simplemodal-overlay {background-color:#000; cursor:wait;}

.modal {
	border-radius: 5px;
	padding: 10px;
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, .2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .2) 75%, transparent 75%, transparent);

background-size: 30px 30px;
background-color: rgba(255, 255, 0, .5);

}

.modal-content {
	border-radius: 5px;
	padding: 10px;
	background-color: white;
}

.view {
	background-color: #ddffee;
	margin: 10px;
	padding: 10px;
	border: 4px solid #aaccbb;
	border-radius: 10px;
	float: left;
}

.view h2 {
	margin-top: 0px;
}	


.cake-sql-log {
	float: left;
	margin-top: 200px;
}

.column {
	float: left;
	width: 50%;
}	

.tags, .contexts, .users {
	display: inline;
	font-size: 11px;
}

.tags li, .contexts li, .users li{
	display: inline;	
	margin: 2px;
}

.tags a, .contexts a, .users a{	
	text-decoration: none;
}

.tags a{
	color: blue;
}

.contexts a{
	color: red;
}

.users a{
	color: green;
}

.tags a:hover, .contexts a:hover {
	text-decoration: underline;
}

#error {
	background-color: white;
}

#breadcrumbs li {
	display: inline;
	font-weight: bold;
}

#breadcrumbs p {
	margin: 0px 5px 0px 5px;
}

.ui-draggable-dragging {
	z-index: 1000;
}

.ui-draggable-dragging .tags, .ui-draggable-dragging .contexts, .ui-draggable-dragging .users, .ui-draggable-dragging .description-link, .ui-draggable-dragging .infobox, .ui-draggable-dragging .settings, .ui-draggable-dragging .settings-button {    
                                                                                                                display: none;
 }

.handle { 
          background-color: #777;
          margin: 0 4px 0 0;
          height: 20px;
          float: left;
          display: block;
          width: 14px;          
}

.description-link { 
          margin: 4px;
 }